<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EASY</title>
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/about-us">About us</a>
    <a href="/contact-us">Contact us</a>
  </nav>

  <main>
    <iframe 
      src="https://mitid.eu.pythonanywhere.com/" 
      frameborder="0"
      style="height:18rem"
      >
    </iframe>
  </main>


  <script>
    window.addEventListener("message", event => {
      console.log(event.data)
    }, false)
  </script>

</body>
</html>