<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EASY</title>
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/about-us">About us</a>
    <a href="/contact-us">Contact us</a>
  </nav>

  <main>
    <iframe 
      src="https://mitid.eu.pythonanywhere.com/" 
      frameborder="0"
      style="height:18rem"
      >
    </iframe>
  </main>


  <script>
    /*
    JWT
    CPR
    {
      "cpr":"1",
      "iat":1000,
      "exp":1600
    }
    */

    window.addEventListener("message", event => {
      // if(event.data == "no")
      //   return
      let jwt = '{"cpr": "12345","iat": 1646214642, "exp": 1646215242}'

      // Validate the JWT in the server
      // How do you pass the JWT to your own server?
      // AJAX / FETCH
      console.log(event.data)
    }, false)
  </script>

</body>
</html>